<html>
	<head>
		<title>Chatroom</title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<h1>Hello Big Babby</h1>

		<script src="javascripts/index.js" type="text/javascript"></script>
	</body>
</html>
